<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FactLens</title>
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>
    <div class="space"></div>
    <div class="box">
        <div class="logo">FactLens</div>
    </div>
    <div class="rectangle">
        <div class="image">

            <img class="idk" src="/assets/Rectangle.jpg" alt="" srcset="">

        </div>
    </div>
    <div class="arrows">
        <div class="display">
            <a class="header" href="/login">Login</a><span>&larr;</span>
            <span>&rarr;</span><a class="header" href="/register">Register</a>


        </div>
    </div>
</body>

</html>